{% extends 'base.html.twig' %}

{% block title %}Accueil - Catpuccino, café à chats
{% endblock %}

{% block body %}
	<!-- section 1 hero -->
	<div class="nougat overflow-hidden">
		<div class="hero-grisou bg-dark position-relative">
			<div class="container-fluid p-0">
				<div class="row g-0 align-items-center vh-100">
					<div class="col-lg-6 z-1 px-5 text-center text-lg-start">
						<div class="ps-lg-5 content-wrapper">
							<h1 class="display-3 fw-bold text-white mb-4 leading-tight">
								Un café, un chat,<br>
								<span class="text-accent">un moment de douceur</span>
							</h1>
							<p class="lead text-white-50 mb-5">
								Venez déguster nos boissons et pâtisseries en compagnie de nos félins dans une ambiance chaleureuse.
							</p>
							<div class="d-flex flex-column flex-sm-row gap-3 justify-content-center justify-content-lg-start align-items-center">
								<a href="#" class="btn btn-lg btn-custom-primary px-5 py-3 shadow-sm">Réserver</a>
								<img class="grisou-sticker" src="{{ asset('images/grisou_sticker.png') }}" alt="Sticker Grisou">
							</div>
						</div>
					</div>

					<div class="col-lg-6 position-relative h-100">
						<div class="img-overlay"></div>
						<img class="img-hero-main" src="{{ asset('images/coffee_cat.jpg') }}" alt="Hero chat">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- section 2 news drinks -->
	<section class="container">
		<h2 class="py-5 mt-5 text-center">Nos nouveautés</h2>
		<div class="container py-5">
			<div class="row">
				{% for product in newsProducts %}
					<div class="col-6 col-md-3 mb-4">
						<twig:ProductCard id="{{ product.id }}" 
						name="{{ product.name }}" 
						price="{{ product.price }}" 
						category="{{ product.category.name }}" 
						img="{{ product.img }}" 
						season="{{ product.seasonName ?? '' }}"/>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<!-- section 3 cats -->
	<h2 class="py-5 mt-5 text-center">Venez découvrir nos mascottes</h2>
	<div class="container py-5">
		<div class="row justify-content-center">
			{% for cat in newsCats %}
				<div class="col-md-4 mb-4">
					<twig:CatCard id="{{ cat.id }}" 
					name="{{ cat.name }}" 
					img="{{ cat.img }}" 
					gender="{{ cat.gender.value }}" 
					age="{{ cat.age }}" 
					description="{{ cat.description }}" 
					product="{{ cat.product.name ?? '' }}"/>
				</div>
			{% else %}
				<div class="col-12 text-center text-muted">
					Aucun chat disponible pour le moment.
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
