{% extends 'base.html.twig' %}

{% block title %}Inscription - Catpuccino
{% endblock %}

{% block body %}
	<twig:FormCard title="Rejoignez Catpuccino !" subtitle="Créer votre compte">
		{% for flash_error in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}

		{{ form_start(registrationForm) }}

		{{ form_errors(registrationForm) }}


		<div class="row">
			<div class="col-md-6">
				{{ form_row(registrationForm.lastname) }}
			</div>
			<div class="col-md-6">
				{{ form_row(registrationForm.firstname) }}
			</div>
		</div>
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.allergen) }}
		{{ form_row(registrationForm.plainPassword.first) }}
		{{ form_row(registrationForm.plainPassword.second) }}
		{{ form_row(registrationForm.agreeTerms) }}

		<button type="submit" class="btn btn-primary w-100">S'inscrire</button>
		{{ form_end(registrationForm) }}
		<p class="text-center text-muted mt-4">
			Vous avez déjà un compte ?
			<a href="{{ path('app_login')}}" class="fw-semibold">Connectez-vous</a>
		</p>

	</twig:FormCard>
{% endblock %}
