{% extends 'base.html.twig' %}

{% block title %}Réserver un créneau - Catpuccino
{% endblock %}

{% block body %}

	<section class="container">
		<h1>Réserver un créneau</h1>
		<p
			class="text-muted">
			{# show it in french #}
			{{ selectedDate|format_date('full', locale='fr') }}
		</p>
		{# form 1 : to select the date and show the time slot available for this date #}
		<form method="get">
			<div class="mb-3">
				<label for="date" class="mb-2">Date</label>
				<input type="text" name="date" id="date" class="form-control flatpickr" value="{{ selectedDate }}" placeholder="Choisissez une date" required>
			</div>
			<button type="submit" class="btn btn-secondary">Voir les créneau disponible pour cette date</button>
		</form>

		{# form 2 : time slot available for the date #}
		<form method="post" action="{{ path('app_reservation_create') }}">
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('reservation_create') }}">
			<input type="hidden" name="date" value="{{ selectedDate }}">

			<div class="mb-3">
				<label class="mb-2">Créneau(x) disponible(s)</label>
				{% for slot in timeSlots %}
					<div class="form-check">
						<input class="form-check-input" type="radio" name="timeSlot" id="" value=""required>
						<label class="form-check-label" for="">
							{{ slot.label }}
							{% if slot.isFull %}
								— Complet
							{% elseif slot.isPast %}
								— Passé
							{% else %}
								({{ slot.available }}
								places)
							{% endif %}
						</label>
					</div>
				{% else %}
					<p class="text-muted">Aucun créneau disponible pour cette date.</p>
				{% endfor %}
			</div>

			<div class="mb-3">
				<label for="nbPeople" class="mb-2">Nombre de personnes</label>
				<input type="number" name="nbPeople" id="nbPeople" class="form-control" min="1" max="20" value="1" required>
			</div>

			<button type="submit" class="btn btn-primary">
				Réserver
			</button>
		</form>
	</section>
{% endblock %}
