{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}- Catpuccino
{% endblock %}

{% block body %}

	<div class="container text-center mt-5">
		<twig:BootstrapButton type="dark" link="{{ path('app_category_index') }}" text="Retour à la liste"/>
	</div>
	<twig:FormCard title="{{ title }}" subtitle="{{ subtitle }}">
		{{ form(createForm) }}
		</twig:FormCard>
	{% endblock %}
