{% extends 'base.html.twig' %}

{% block title %}Notre carte - Catpuccino
{% endblock %}


{% block body %}
	<div class="container py-5">
		<div class="text-center mb-5">
			<h1 class="display-4 fw-bold titleCoffee">La carte de Catpuccino</h1>
			<p class="lead text-muted">Découvrez nos douceurs artisanales à savourer avec nos petits félins.</p>
			{% if is_granted('ROLE_MODO') %}
				<div class="d-flex justify-content-end align-items-center my-5">
					<twig:BootstrapButton type="success" link="{{ path('app_product_create') }}" text="+ Ajouter un produit"/>
				</div>
			{% endif %}
			<div class="container mt-5">
				<div class="row justify-content-center">
					<form action="{{ path('app_product_index') }}" method="GET" class="position-relative">
						<div class="input-group shadow-sm rounded-pill overflow-hidden border">
							<input type="text" name="search_name" class="form-control border-0 py-3 shadow-none" placeholder="Rechercher un produit..." value="{{ searchName }}">
							<button class="btn btn-dark px-4 fw-bold" type="submit">
								<twig:ux:icon name="mingcute:search-ai-line" class="search-icon-magnifying-glass"/>
							</button>
						</div>
						<div>
							<div class="d-flex flex-wrap align-items-center gap-3 justify-content-center mt-3">
								<select class="form-select rounded-pill w-auto" name="category_filter">
									<option value="0">Toutes les catégories</option>
									{% for category in categoryList %}
										<option value="{{ category.id }}" {{ categorySelect == category.id ? 'selected' : '' }}>{{ category.name }}</option>
									{% endfor %}
								</select>
								<div class="form-check form-switch">
									<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="vegan" value="1" {{ vegan ? 'checked' : '' }}>
									<label class="form-check-label" for="flexSwitchCheckChecked">Vegan</label>
								</div>
								<div class="form-check form-switch">
									<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="gluten" value="1" {{ gluten ? 'checked' : '' }}>
									<label class="form-check-label" for="flexSwitchCheckChecked">Sans gluten</label>
								</div>
								<div class="form-check form-switch">
									<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="lactose" value="1" {{ lactose ? 'checked' : '' }}>
									<label class="form-check-label" for="flexSwitchCheckChecked">Sans lactose</label>
								</div>
								<a href="{{ path('app_product_index') }}" class="btn btn-outline-dark rounded-pill">Réinitialiser les filtres</a>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div>
				<div class="count my-5 fw-semibold">
					{{ pagination.getTotalItemCount }}
					Produit(s) trouvé(s) !
				</div>

				<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
					{% for product in pagination %}
						<twig:ProductCard id="{{ product.id }}" name="{{ product.name }}" price="{{ product.price }}" category="{{ product.category.name }}" img="{{ product.img }}" season="{{ product.seasonName ?? '' }}"/>
					{% else %}
						<div class="col-12 text-center text-muted">
							Aucun produit disponible pour le moment.
						</div>
					{% endfor %}
				</div>
				<div class="navigation d-flex justify-content-center my-5">
					{{ knp_pagination_render(pagination) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
