<div class="col">
	<div class="card h-100 card-product-custom shadow-sm">

		<div class="position-relative img-wrapper">
			<img src="{{ asset('uploads/products/' ~ this.img) }}" class="card-img-top" alt="{{ this.name }}">
			<span class="position-absolute top-0 end-0 m-3 badge rounded-pill badge-price shadow-sm">
				{{ this.price }}€
			</span>
		</div>

		<div class="card-body d-flex flex-column text-center">

			<div class="d-flex flex-wrap justify-content-center gap-2 mb-3">
				{# TODO: category when i create her #}
				{# <span class="badge rounded-pill badge-custom">{{ this.categoryName }}</span> #}

					{% if this.seasonName %}<span class="badge rounded-pill badge-custom badge-status"> {{ this.seasonName }}</span>
				{% endif %}
			</div>

			<h5 class="card-title-product mt-2 fw-bold">{{ this.name }}</h5>

			<div class="mt-3">
				<a href="#" class="btn btn-custom w-100 rounded-pill py-2">
					Voir les détails
				</a>
			</div>
		</div>
	</div>
</div>
