{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}- Catpuccino
{% endblock %}

{% block body %}
	<div class="container text-center mt-5">
		{% if is_granted('ROLE_ADMIN') %}
			<twig:BootstrapButton type="dark" link="{{ path('app_user_index') }}" text="Retour à la liste"/>
		{% else %}
			<twig:BootstrapButton type="dark" link="{{ path('app_dashboard') }}" text="Retour à mon espace"/>
		{% endif %}
	</div>
	<twig:FormCard title="{{ title }}" subtitle="{{ subtitle }}">
		{{ form(userForm) }}
		</twig:FormCard>
	{% endblock %}
