{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs - Catpuccino
{% endblock %}

{% block body %}

	<section class="container my-5">
		<h1 class="mb-5 text-center">Gestion des utilisateurs</h1>
		<div class="d-flex justify-content-end align-items-center my-5">
			<twig:BootstrapButton type="success" link="{{ path('app_user_create') }}" text="+ Nouvel utilisateur"/>
		</div>

		<table class="table table-striped align-middle">
			<thead class="table-dark">
				<tr class="text-center">
					<th scope="col">ID</th>
					<th scope="col">Nom prénom</th>
					<th scope="col">Email</th>
					<th scope="col">Rôle(s)</th>
					<th scope="col">Statut</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in userList %}
					<tr class="text-center">
						<th scope="row">{{ user.id }}</th>
						<td>
							<div class="d-flex align-items-center">
								<div class="avatar-letters d-flex justify-content-center align-items-center me-3 rounded-circle">
									{{ user.firstname|first|upper }}{{ user.lastname|first|upper }}
								</div>
								<div class="fw-semibold">
									{{ user.lastname ~ ' ' ~ user.firstname }}
								</div>
							</div>
						</td>
						<td>{{ user.email }}</td>
						<td>
							{% for role in user.roles %}
								<!-- default color -->
								{% set badgeColor = 'secondary' %}
								{% set badgeRole = role %}
								{% if role == 'ROLE_ADMIN' %}
									{% set badgeColor = 'success' %}
									{% set badgeRole = 'Administrateur' %}
								{% elseif role == 'ROLE_MODO' %}
									{% set badgeColor = 'dark' %}
									{% set badgeRole = 'Modérateur' %}
								{% elseif role == 'ROLE_USER' %}
									{% set badgeColor = 'info' %}
									{% set badgeRole = 'Utilisateur' %}
								{% endif %}
								<span class="badge text-bg-{{ badgeColor }} rounded-pill">{{ badgeRole }}</span>
							{% endfor %}

						</td>
						<td>
							{% if user.isBan %}
								<span class="badge bg-danger">Banni</span>
							{% else %}
								<span class="badge bg-success">Actif</span>
							{% endif %}
						</td>
						<td>
							<div class="d-flex justify-content-center gap-2">
								<twig:BootstrapButton type="primary" link="{{ path('app_user_update', { id: user.id }) }}" size="sm" text="Modifier"/>
								<twig:BootstrapButton type="dark" link="{{ path('app_user_roles', { id: user.id }) }}" size="sm" text="Affecter des rôles"/>
								<twig:BootstrapButton type="warning" link="{{ path('app_user_ban', { id: user.id }) }}" size="sm" text="{{ user.isBan ? 'Débannir' : 'Bannir' }}"/>
								<twig:BootstrapButton type="danger" link="{{ path('app_user_delete', { id: user.id }) }}" size="sm" text="Supprimer"/>
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>


{% endblock %}
