{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs - Catpuccino
{% endblock %}

{% block body %}

	<section class="container my-5">
		<h1 class="mb-5 text-center">Gestion des utilisateurs</h1>
		<div class="row justify-content-center">
			<div class="col-md-6">
				<twig:SearchBar action="{{ path('app_user_index') }}" placeholder="Rechercher un utilisateur..." value="{{ searchName }}"/>
			</div>
		</div>
		<div class="d-flex justify-content-between align-items-center my-5">
			<twig:BootstrapButton type="dark" link="{{ path('app_dashboard') }}" text="Retour à mon espace"/>
			<twig:BootstrapButton type="success" link="{{ path('app_user_create') }}" text="+ Nouvel utilisateur"/>
		</div>

		<div class="count my-5 fw-semibold">
			{{ pagination.getTotalItemCount }}
			Utilisateur(s) trouvé(s) !
		</div>

		<table class="table table-hover table-striped align-middle">
			<thead class="table-dark">
				<tr class="text-center">
					<th scope="col">ID</th>
					<th scope="col">Nom prénom</th>
					<th scope="col">Email</th>
					<th scope="col">Rôle(s)</th>
					<th scope="col">Statut</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in pagination %}
					<tr class="text-center">
						<th scope="row">{{ user.id }}</th>
						<td>
							<div class="d-flex align-items-center">
								<div class="avatar-letters d-flex justify-content-center align-items-center me-3 rounded-circle">
									{{ user.firstname|first|upper }}{{ user.lastname|first|upper }}
								</div>
								<div class="fw-semibold">
									{{ user.lastname ~ ' ' ~ user.firstname }}
								</div>
							</div>
						</td>
						<td>{{ user.email }}</td>
						<td>
							{% for role in user.roles %}
								<!-- default color -->
								{% set badgeColor = 'secondary' %}
								{% set badgeRole = role %}
								{% if role == 'ROLE_ADMIN' %}
									{% set badgeColor = 'success' %}
									{% set badgeRole = 'Administrateur' %}
								{% elseif role == 'ROLE_MODO' %}
									{% set badgeColor = 'dark' %}
									{% set badgeRole = 'Modérateur' %}
								{% elseif role == 'ROLE_USER' %}
									{% set badgeColor = 'info' %}
									{% set badgeRole = 'Utilisateur' %}
								{% endif %}
								<span class="badge text-bg-{{ badgeColor }} rounded-pill">{{ badgeRole }}</span>
							{% endfor %}

						</td>
						<td>
							{% if user.isBan %}
								<span class="badge bg-danger">Banni</span>
							{% else %}
								<span class="badge bg-success">Actif</span>
							{% endif %}
						</td>
						<td>
							<div class="d-flex justify-content-center gap-2">
								<twig:BootstrapButton type="primary" link="{{ path('app_user_update', { id: user.id }) }}" size="sm" text="Modifier"/>
								{% if user.id != app.user.id %}
									<twig:BootstrapButton
									type="dark" link="{{ path('app_user_roles', { id: user.id }) }}" size="sm" text="Affecter des rôles"/>
									{# ban modal #}
									<button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#banModal-{{ user.id }}">
										{{ user.isBan ? 'Débannir' : 'Bannir' }}
									</button>
									{# delete modal #}
									<button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ user.id }}">
										Supprimer
									</button>
									<twig:BootstrapModal id="banModal-{{ user.id }}" title="Avertissement" message="Êtes-vous sûr de vouloir {{ user.isBan ? 'débannir' : 'bannir' }} {{ user.lastname ~ ' ' ~ user.firstname }} ?" action="{{ path('app_user_ban', { id: user.id } ) }}" token="ban-user"/>
									<twig:BootstrapModal id="deleteModal-{{ user.id }}" title="Avertissement" message="Êtes-vous sûr de vouloir supprimer {{ user.lastname ~ ' ' ~ user.firstname }} ?" action="{{ path('app_user_delete', { id: user.id } ) }}" token="delete-user"/>

								{% endif %}
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="navigation d-flex justify-content-center my-5">
			{{ knp_pagination_render(pagination) }}
		</div>
	</section>
{% endblock %}
