{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs - Catpuccino
{% endblock %}

{% block body %}

	<section class="container my-5">
		<h1 class="mb-5 text-center">Gestion des utilisateurs</h1>

		<table class="table table-striped">
			<thead class="table-dark">
				<tr class="text-center">
					<th scope="col">ID</th>
					<th scope="col">Nom prénom</th>
					<th scope="col">Email</th>
					<th scope="col">Rôle(s)</th>
					<th scope="col">Statut</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in userList %}
					<tr class="text-center">
						<th scope="row">{{ user.id }}</th>
						<td>
							<div class="d-flex align-items-center">
								<div class="avatar-letters d-flex justify-content-center align-items-center me-3 rounded-circle">
									{{ user.firstname|first|upper }}{{ user.lastname|first|upper }}
								</div>
								<div class="fw-semibold">
									{{ user.lastname ~ ' ' ~ user.firstname }}
								</div>
							</div>
						</td>
						<td>{{ user.email }}</td>
						<td>
							{% for role in user.roles %}
								<span class="badge text-bg-info rounded-pill">{{ role }}</span>
							{% endfor %}
						</td>
						<td>
							{% if user.isBan %}
								<span class="badge bg-danger">Banni</span>
							{% else %}
								<span class="badge bg-success">Actif</span>
							{% endif %}
						</td>
						<td>
							<div class="d-flex justify-content-center gap-2">
								<twig:BootstrapButton type="primary" link="" text="Modifier"/>
								<twig:BootstrapButton type="dark" link="" text="Affecter des rôles"/>
								<twig:BootstrapButton type="light" link="" text="Bannir"/>
								<twig:BootstrapButton type="danger" link="" text="Supprimer"/>
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>


{% endblock %}
